In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
Table = soup.find('table')
Tabel_split = Table.tbody.text.split('\n')


lst1 =[] ;lst2 =[];lst3 =[] 
temp_val = 0
rows = 1
while (len(Tabel_split)>temp_val):
    lst1.append(Tabel_split[5*rows+1])
    lst2.append(Tabel_split[5*rows+2])
    lst3.append(Tabel_split[5*rows+3])
    temp_val = 5*rows+6
    rows += 1

df=pd.DataFrame(list(zip(lst1,lst2, lst3)), columns =['PostCode', 'Borough', 'Neighbourhood']) 
df.head()


print('Number of Boroughs with Not Assigned values:',df[df['Borough'].str.contains('Not assigned')].count()[0])
print('Number of Neighbourhoods with Not Assigned values:',df[df['Neighbourhood'].str.contains('Not assigned')].count()[0])
df=df[df['Borough']!='Not assigned']
print()
print('The Neighbourhoods with Not Assigned value:')
print(df[df['Neighbourhood'].str.contains('Not assigned')])
print()
df.replace(to_replace='Not assigned',value="Queen's Park", inplace=True)
print('Now, the number of Boroughs with Not Assigned values:',df[df['Borough'].str.contains('Not assigned')].count()[0])
print('Now, the number of Neighbourhoods with Not Assigned values is:',df[df['Neighbourhood'].str.contains('Not assigned')].count()[0])


df_final = df.groupby(['PostCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
print('Total number of Boroughs: {}'.format(len(df_final['Borough'])))
df_final.head()

Number of Boroughs with Not Assigned values: 77
Number of Neighbourhoods with Not Assigned values: 78

The Neighbourhoods with Not Assigned value:
  PostCode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

Now, the number of Boroughs with Not Assigned values: 0
Now, the number of Neighbourhoods with Not Assigned values is: 0
Total number of Boroughs: 103

  PostCode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [11]:

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

latitude=[]
longitude=[]
print('Looking for coordinats for each postal code ...')
for indx,postcode in enumerate(list(df_final['PostCode'])):
    address = '{} Toronto, Ontario, Canada'.format(postcode)
    print("Progress: {} out of {}".format(indx,df_final['PostCode'].shape[0]-1), end="\r")
    
    try:
        geolocator = Nominatim(user_agent="tn_explorer")
        location = geolocator.geocode(address)
        latitude.append(location.latitude)
        longitude.append(location.longitude)
        
    except:
        latitude.append(None)
        longitude.append(None)
        
print('\nDone!')

Looking for coordinats for each postal code ...
Progress: 102 out of 102
Done!

In [12]:

df_final['Latitude'] = latitude
df_final['Longitude'] = longitude
print('Number of missing coordinate values is %d which is bascially %.2f%% of all the values.' %(df_final['Latitude'].isna().sum(),(df_final['Latitude'].isna().sum()/df_final['Latitude'].shape[0]*100)))

Number of missing coordinate values is 80 which is bascially 77.67% of all the values.

In [13]:
code_lat_long = pd.read_csv('https://cocl.us/Geospatial_data')
code_lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
# Droping the incomplete columns for latitude and longitude from previous step
df_final.drop(columns=['Latitude','Longitude'],inplace=True)
# Rename postal code column in the imported dataframe
code_lat_long.rename(columns={'Postal Code':'PostCode'},inplace=True)
# Merg two dataframe according to the postcode column
df_total=pd.merge(df_final, code_lat_long, on="PostCode")
df_total.head(12)

,PostCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849