# Segmenting and Clustering Neighborhoods in Toronto - Part I

## Scrapping the Page and Preparing the DataFrame
### Importing the required libraries

In [15]:

import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

In [16]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
Table = soup.find('table')
Tabel_split = Table.tbody.text.split('\n')

In [17]:

lst1 =[] ;lst2 =[];lst3 =[] 
temp_val = 0
rows = 1
while (len(Tabel_split)>temp_val):
    lst1.append(Tabel_split[5*rows+1])
    lst2.append(Tabel_split[5*rows+2])
    lst3.append(Tabel_split[5*rows+3])
    temp_val = 5*rows+6
    rows += 1

df=pd.DataFrame(list(zip(lst1,lst2, lst3)), columns =['PostCode', 'Borough', 'Neighbourhood']) 
df.head()

  PostCode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [18]:
df=df[df['Borough']!='Not assigned']
df.head()

  PostCode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [19]:
print('Number of Boroughs with Not Assigned values:',df[df['Borough'].str.contains('Not assigned')].count()[0])

Number of Boroughs with Not Assigned values: 0

In [20]:
print('Number of Neighbourhoods with Not Assigned values:',df[df['Neighbourhood'].str.contains('Not assigned')].count()[0])

Number of Neighbourhoods with Not Assigned values: 1

In [21]:
print(df[df['Neighbourhood'].str.contains('Not assigned')])
print()
#print(df[df['Neighbourhood'].str.contains('Not assigned')]['Neighbourhood'])
#print(df[df['Neighbourhood'].str.contains('Not assigned')]['Borough'])
df.replace(to_replace='Not assigned',value="Queen's Park", inplace=True)
print('Now, the number of Neighbourhoods with Not Assigned values is:',df[df['Neighbourhood'].str.contains('Not assigned')].count()[0])
# let's take a look at the fist 10 rows
df.head(10)

  PostCode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

Now, the number of Neighbourhoods with Not Assigned values is: 0

   PostCode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [22]:
df_final = df.groupby(['PostCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
print('Total number of Boroughs: {}'.format(len(df_final['Borough'])))
df_final.head(12)

Total number of Boroughs: 103

   PostCode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

In [23]:

print('Dataframe size is',df_final.shape)

Dataframe size is (103, 3)